/*
    Document   : layout
    Created on : Sep 10, 2011, 12:15:55 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist Design and Sleepy Hollow color schemes from the
	Color Schemer Gallery.
*/
#masthead {
  background-color: #252525;
  background-image: url('debut_dark.png');
}
#masthead ul {
  list-style-type: none;
}
#masthead #logo {
  padding-top: 1em;
  padding-bottom: 1em;
}
#observant-records-logo {
  width: 470px;
}
.navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#nav-header {
  padding-top: 1.5em;
  text-align: center;
}
#nav-header ul.links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 24px;
}
#nav-footer {
  margin-top: 1em;
}
ul#nav-social {
  margin-top: 20px;
  padding-left: 0px;
  margin-left: 0px;
}
ul#nav-social li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}
#home-slider {
  margin-top: 1em;
}
#content {
  margin-bottom: 1em;
  margin-top: 1em;
}
#content-header {
  padding-bottom: 1.5em;
}
#footer {
  background-color: #C9C9C9;
  background-image: url('white_carbonfiber.png');
}
#album_player {
  margin: 0 0 1em;
}
footer {
  margin-top: 1em;
}
label {
  float: left;
  font-weight: bold;
  width: 150px;
  margin-right: 10px;
}
label.error,
span.error {
  color: #F99;
  display: none;
}
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  border: 1px solid #402c29;
  border-radius: 3px;
  padding: 4px;
  background-color: #f2f2f2;
}
.form-textarea-wrapper {
  width: 600px;
}
table.track-table {
  border: 1px dotted #402c29;
  border-collapse: collapse;
}
table.track-table thead th {
  border: 1px dotted #999;
  font-size: 7pt;
  color: #FFF;
  background-color: #333;
}
table.track-table tbody tr:nth-child(2n) td {
  background-color: #cbcbcb;
}
table.track-table tbody td {
  border: 1px dotted #999;
}
table.track-table tbody td.track-column {
  width: 50px;
}
table.track-table tbody td.play-column {
  width: 20px;
}
ul.album-list {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
ul.album-list li {
  display: inline;
}
ul.column-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.column-list li {
  display: inline-block;
  margin-right: 10px;
  height: 3em;
  min-width: 230px;
  width: 270px;
  vertical-align: top;
}
.disc-track-item {
  margin-right: 10px;
  margin-bottom: 1em;
  min-height: 2em;
  min-width: 230px;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
ul.two-column-bubble-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.two-column-bubble-list li {
  display: inline-block;
  width: 270px;
  margin-right: 10px;
  margin-bottom: 1em;
  min-height: 2em;
  min-width: 230px;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
ul.two-column-bubble-list li div {
  margin: 3px 0 0 10px;
}
ul.two-column-bubble-list li div label {
  font-weight: bold;
  width: 110px;
}
ol.track-list {
  list-style: decimal;
  margin: 0;
  padding: 0;
}
ol.track-list li {
  display: block;
  width: 470px;
  margin-left: 40px;
  margin-right: 40px;
  margin-right: 10px;
  margin-bottom: 1em;
  min-height: 2em;
  min-width: 230px;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
ol.track-list li div {
  margin: 3px 0 0 10px;
}
.hidden {
  display: none;
}
.inline-list {
  list-style-type: none;
}
.inline-list li {
  display: inline;
  margin: 0 12px 0 0;
  padding: 0;
}
.inline-list li:before {
  content: "» ";
}
.plain-list {
  list-style: none;
}
.centered {
  text-align: center;
}
.cover {
  background-color: #EFEFEF;
}
.button {
  padding: 4px 10px 4px;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #304B75;
  cursor: pointer;
}
.nivoSlider {
  position: relative;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.nivoSlider a {
  border: 0;
  display: block;
}
.release-list-info {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.release-credits {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.release-credits li {
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  #observant-records-logo {
    width: 100%;
  }
  #home-slider {
    display: none;
  }
  #nav-header {
    padding-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1em;
    text-align: left;
  }
}
