/*
Theme Name: Observant Records 2015
Author: Greg Bueno
Author URI: http://vigilantmedia.com/
Description: A WordPress theme customized for Observant Records.
Version: 2.5.1
Text Domain: observantrecords2015
*/
/*
    Document   : layout
    Created on : Sep 10, 2011, 12:15:55 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist Design and Sleepy Hollow color schemes from the
	Color Schemer Gallery.
*/
#masthead {
  background-color: #252525;
  background-image: url("assets/graphics/debut_dark.png");
}
#masthead ul {
  list-style-type: none;
}
#masthead #logo {
  padding-top: 1em;
  padding-bottom: 1em;
}

#observant-records-logo {
  width: 470px;
}

ul#nav-social {
  margin-top: 20px;
  padding-left: 0;
  margin-left: 0;
}
ul#nav-social li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}

#home-slider {
  margin-top: 1em;
}

#content {
  margin-bottom: 1em;
  margin-top: 1em;
}

#footer {
  background-color: #C9C9C9;
  background-image: url("assets/graphics/white_carbonfiber.png");
}

#album_player {
  margin: 0 0 1em;
}

iframe {
  margin-bottom: 10px;
}

footer {
  margin-top: 1em;
}

/*
label {
	float: left;
	font-weight: bold;
	width: 150px;
	margin-right: 10px;
}

label.error, span.error {
	color: #F99;
	display: none;
}
*/
input[type=text], input[type=password], input[type=email], select, textarea {
  border: 1px solid #402C29;
  border-radius: 3px;
  padding: 4px;
  background-color: #F2F2F2;
}

table.track-table {
  border: 1px dotted #402C29;
  border-collapse: collapse;
}
table.track-table thead th {
  border: 1px dotted #999;
  font-size: 7pt;
  color: #FFF;
  background-color: #333;
}
table.track-table tbody tr:nth-child(2n) td {
  background-color: #CBCBCB;
}
table.track-table tbody td {
  border: 1px dotted #999;
}
table.track-table tbody td.track-column {
  width: 50px;
}
table.track-table tbody td.play-column {
  width: 20px;
}

.nivoSlider {
  position: relative;
}
.nivoSlider img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.nivoSlider a {
  border: 0;
  display: block;
}

@media screen and (max-width: 768px) {
  #observant-records-logo {
    width: 100%;
  }

  #home-slider {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  #nav-header {
    padding: 1em 0 1em 0;
    text-align: left;
  }

  #nav-header ul.links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 24px;
  }
}
/*
    Document   : typography
    Created on : Nov 11, 2011, 7:56:20 AM
    Author     : Greg Bueno
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
  font-style: italic, oblique;
}
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
  font-weight: bold;
}
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
  font-weight: bold;
  font-style: italic, oblique;
}
body {
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5306122454;
}

a {
  color: #5483CC;
}
a:hover {
  color: #402C29;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
}

#nav-header ul.links {
  font-family: "CartoGothicStd", "Helvetica", "Arial", sans-serif;
  font-size: 120%;
}

#title {
  font-family: "Lucida Sans Unicode", sans-serif;
}
#title a {
  text-decoration: none;
  color: #000;
}

footer {
  color: #000;
  font-size: 95%;
}
footer a {
  color: #304B75;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: none;
}

#masthead a, #masthead a:hover {
  color: #FFF;
}

input[type=text], input[type=password], input[type=email], select, textarea {
  font-size: 100%;
  font-family: inherit;
}

table.track-table {
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
}

.site-info {
  padding-bottom: 1em;
}

.comment-list {
  list-style: none;
  padding-bottom: 1em;
}

.comment-author {
  position: relative;
}
.comment-author .avatar {
  height: 34px;
  top: 2px;
  width: 34px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  position: absolute;
  left: 0;
}

.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply, .comment-metadata {
  padding-left: 50px;
}

.comments-title {
  padding-bottom: 1em;
}

.says {
  display: none;
}
